<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MenuCloak</string>
	<key>CFBundleDisplayName</key>
	<string>MenuCloak</string>
	<key>CFBundleIdentifier</key>
	<string>com.dans.menucloak</string>
	<key>CFBundleExecutable</key>
	<string>MenuCloak</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>MenuCloak</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.dans.menucloak</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>menucloak</string>
			</array>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
